.__img{
    position: absolute;
    background-image: url('img.jpg');
    height: 92%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.__imgDark{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.641);
    height: 100%;
}
.__card{
    background-color: antiquewhite !important;
}